@import './about-styles.css';
@import './resources-styles.css';
@import './siteplan-styles.css';

body {
    font-family: 'Rubik', sans-serif;
    background-color: #e6edf2;
    color: #333;
    margin: 0;
    padding: 0;
}

header {
    background-color: #3a506b;
    padding: 1.5em;
    color: white;
    text-align: center;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
}

nav ul {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

nav ul li {
    margin: 0 1.5em;
}

nav ul li a {
    color: white;
    text-decoration: none;
    font-weight: bold;
    font-size: 1.2em;
    padding: 0.5em 1em;
    transition: color 0.3s ease, transform 0.3s ease, background-color 0.3s ease, box-shadow 0.3s ease;
    border-radius: 5px;
}

nav ul li a:hover {
    color: #fff;
    background-color: #314157;
    transform: scale(1.1);
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

h1 {
    margin: 0;
    font-size: 2.5em;
    margin-top: 1em;
    /* Adjust margin as needed for spacing */
}

.header-link {
    color: white;
    text-decoration: none;
    transition: color 0.3s ease, transform 0.3s ease;
}

.header-link:hover {
    color: #cfd7df;
    transform: scale(1.05);
}

.logo {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    margin-bottom: 1em;
}

main {
    padding: 2em;
    max-width: 1200px;
    margin: 0 auto;
}

section {
    background-color: #d9e2ec;
    padding: 2em;
    border-radius: 8px;
    margin-bottom: 2em;
    text-align: center;
}

.projects,
.github-repos,
.project-images {
    background-color: #f0f0f0;
    border-radius: 8px;
    padding: 2em;
}

.github-repos ul {
    list-style: none;
    padding: 0;
}

.github-repos li {
    margin-bottom: 1em;
}

.github-repos h3 {
    margin: 0;
}

.github-repos a {
    color: #3a506b;
    text-decoration: none;
    transition: color 0.3s ease;
}

.github-repos a:hover {
    color: #314157;
}

.project-images .image-container {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

.project-images .image-container img {
    max-width: 30%;
    height: auto;
    margin: 1em;
    border: 2px solid #3a506b;
    border-radius: 8px;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.project-images .image-container img:hover {
    transform: scale(1.05);
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

footer {
    background-color: #3a506b;
    color: white;
    text-align: center;
    padding: 1em 0;
    position: relative;
    bottom: 0;
    width: 100%;
}

/* Responsive design */
@media (max-width: 768px) {
    header {
        padding: 1em;
    }

    .logo {
        width: 40px;
        height: 40px;
    }

    nav ul {
        flex-direction: column;
        align-items: center;
    }

    nav ul li {
        margin: 0.5em 0;
    }

    h1 {
        font-size: 2em;
    }
}